.navbar {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background: #282c34;
  color: white;
}

.button {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}
